
<nav class="header-user container" id="header-admin">
   <div>
     <a href="/admin"><img class="logo" src="http://www.vanillamarketing.it/wp-content/uploads/2014/10/logo_vanilla_marketing.png"
      width="180px"></a>
  </div>
  <div>
    <ul>
      <li><a class="logout-link" href="/auth/logout">Logout</a></li>
    </ul>
  </div>
</nav>