
<nav class="header-user container" id="header-admin">
   <div>
     <a href="/admin"><img class="logo" src="/images/logo-vanilla-marketing.png"
      width="180px"></a>
  </div>
  <div>
    <ul>
      <li><a class="logout-link" href="/auth/logout">Logout</a></li>
    </ul>
  </div>
</nav>