
<nav id="desktop-header-user" class="header-user container">
   <div>
     <a href="/"><img class="logo" src="http://www.vanillamarketing.it/wp-content/uploads/2014/10/logo_vanilla_marketing.png"
      width="180px"></a>
  </div>
  <div>
    <ul>
      <li><a href="/tickets">I miei tickets</a></li>
      <li><a href="/submit">Apri un ticket</a></li>
      <li><a class="logout-link" href="/auth/logout">Logout</a></li>
    </ul>
  </div>
</nav>


<nav id="mobile-header-user"class="text-center">
  <div>
     <a href="/"><img class="logo" src="http://www.vanillamarketing.it/wp-content/uploads/2014/10/logo_vanilla_marketing.png"
      width="180px"></a>
  </div>
  <div>
    <p><a href="/tickets">I miei tickets</a></p>
    <p><a href="/submit">Apri un ticket</a></p>
    <p><a class="logout-link" href="/auth/logout">Logout</a></p>
  </div>

</nav>

