{{!-- 
<nav class="header-user container" id="header-admin">
   <div>
     <a href="/admin"><img class="logo" src="/images/logo-vanilla-marketing.png"
      width="180px"></a>
  </div>
  <div>
    <ul>
      <li><p><a href="/customers">Clienti</a></li></p>
      <li><a class="logout-link" href="/auth/logout">Logout</a></li>
    </ul>
  </div>
</nav> --}}

{{!-- MOBILE --}}
<nav id="mobile-header-user" class="text-center">
  <div>
    <a href="/"><img class="logo"
        src="/images/logo-vanilla-marketing.png" width="180px"></a>
  </div>
  <div>
    <p><a href="/tickets">I miei tickets</a></p>
    <p><a href="/submit">Apri un ticket</a></p>
    <p>
      <div class="dropdown">
        <a href="/customers" class="dropbtn">Clienti</a>
        <div class="dropdown-content">
          <a href="/customers/new-customer">Aggiungi cliente</a>

        </div>
      </div>
    </p>
    <p><a class="logout-link" href="/auth/logout">Logout</a></p>
  </div>
</nav>


{{!-- DESKTOP --}}
<nav id="desktop-header-user" class="container">
  <div>
    <a href="/"><img class="logo"
        src="/images/logo-vanilla-marketing.png" width="180px"></a>
  </div>
  <div>
    <ul>
      <li>
        <div class="dropdown">
          <a href="/customers" class="dropbtn">Clienti</a>
          <div class="dropdown-content">
            <a href="/customers/new-customer">Aggiungi cliente</a>

          </div>
        </div>
      </li>
      <li><a class="logout-link" href="/auth/logout">Logout</a></li>

    </ul>
  </div>
</nav>