<h1>New ticket</h1>
<p>{{user._id}}</p>

<form action="/submit" method="POST" >
User <input type="text" value={{user._id}} name="user">
Title <input type="text" name="title">
Message <input type="text" name="message">

<button type="submit">Create ticket</button>
</form>

