<h1>New ticket</h1>


<form action="/submit" method="POST" enctype="multipart/form-data">
  User <input type="text" value={{user._id}} name="user">
  Title <input type="text" name="title">
  Message <input type="text" name="message">
  <input type="text" name="name">
  <input type="file" name="photo">
  <input type="submit" value="Create ticket">

</form>

<br>
<p>{{message}}</p>