{{> headerUser}}

<section class="submit-page container box-shadow">
  <h1 class="text-center">NUOVO TICKET</h1>

  <div class="submit-form-container">

    <form action="/submit" method="POST" enctype="multipart/form-data">
      <p><strong>Cliente</strong></p>
      <select name="customer" required="true">
        <option value="">Scegli il cliente *</option>
        {{#each customers}}
        <option value={{_id}}>{{name}}</option>
        {{/each}}
        {{#if errorMessage}}
           <p>{{errorMessage}}</p>
        {{/if}}

      </select>
      <input class="user-input" type="text" value={{user._id}} name="user">
      <p><strong>Titolo</strong></p>
      <input type="text" name="title" placeholder="Titolo*" required="true">
      <p><strong>Messaggio</strong></p>
      <textarea class="user-message" name="message" placeholder="Messaggio*" required="true">

    </textarea>

      <input type="text" name="name" placeholder="File name">
      <input type="file" name="photo">
      <button type="submit" class="btn btn-success">Crea ticket</button>

    </form>


  </div>

</section>
{{> footerUser}}