{{> headerUser}}


<section class="tickets-page container box-shadow text-center">
<h1>{{customer.name}}: tutti i tickets </h1>

{{#each customer.tickets}}
   <p><a href="/tickets/{{_id}}">{{title}}</a></p>
{{/each}}
</section>


{{> footerUser}}